.card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 150px;
  margin: 10px;
}

.card-img {
  background-size: cover !important;
  background-position: center;
  height: 100%;
  border-radius: 2px;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.card-description {
  text-align: left;
  bottom: 10px;
  left: 10px;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  margin: 0px;
  padding-top: 10px;
  padding-left: 10px;
  h3, a {
    font-size: 24px;
    color: $darkblue;
    margin: 0px;
    text-transform: capitalize;
    a:hover {
      text-decoration: none;
    }
  }
  p {
  font-size: 16px;
  opacity: 0.7;
  margin: 0px;
  margin-top: 3px;
  color: $gray;
  }
}

h3#card-description-title {
  font-size: 24px;
  color: $darkblue;
  margin: 0px;
}

// Responsive

@media(max-width: 720px) {
  .card {
    grid-template-rows: 300px 180px;
  }
}

@media(max-width: 414px) {
  .card {
    grid-template-rows: 240px 180px;
  }
}
